    user nginx;
    worker_processes 1;
    error_log /var/log/nginx/error.log;


events {
          worker_connections 1024;
   }

http {
          upstream  apache2 {
          server 127.0.0.1:81;
   }


    include mime.types;
    default_type application/octet-stream;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for"';
    access_log /var/log/nginx/access.log main;

    client_max_body_size 64m;
    server_tokens off;

    sendfile on;
    #tcp_nopush on;
    #keepalive_timeout 0;
    keepalive_timeout 65;
    gzip on;
    gzip_proxied any;
    gzip_min_length 1024;
    gzip_comp_level 4;
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript application/atom+xml application/rdf+xml;
    include /etc/nginx/conf.d/*.conf;


 server {
   location /phpmyadmin {
        root /var/www/;
        index index.php;

   location ~* ^/phpmyadmin/(.+\.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt))$ {
        root /usr/share/;
        expires 1M;
    }
  }

   location /phpMyAdmin {
        rewrite ^/* /phpmyadmin last;
    }
  }
}